.select-thema .message {
  height: 36px;
}

/* .select-thema ul {
  list-style: none;
  padding: 0;
} */
#colorthema {
  display: flex;
  flex-direction: column;
}

#colorthema > label {
  line-height: 36px;
}

input[type=radio] {
  margin: 0 10px 0 0;
}


/* テーマサンプルを確認するとき */

body.default {
  background-color: #ffe600;
}

body.pink {
  background-color: rgb(255, 233, 241);
}
body.blue {
  background-color: rgb(233, 233, 255);
}